.datesContainer {
  flex: 1 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.days {
  flex: 1 calc(100% / 13);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkcyan;
}

.dates {
  flex: 1 calc(100% / 13 * 12);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.popup {
  width: 65%;
  max-height: calc(100% / 13 * 8);
  position: absolute;
  top: calc(100% / 13 * 2);
  left: 50%;
  transform: translateX(-50%);
  background-color: burlywood;
  padding: 1.3em;
  display: flex;
  flex-direction: column;
}
